body {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-family: Besley, serif;
    border-color: black;
    flex: 0;
    background: grey;

}

.top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0 250px;
    background: grey;
}

.awesome-part {
    background-image: url("img/massage.jpg");
    display: flex;
    background-size: cover;

}

.header-links {
    display: flex;
    font-size: 20px;
    gap: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: bold;
}

.text-awesome {
    color: #F9FAF8;
    max-width: 450px;
    font-size: 18px;
    padding: 4px;
}

.awesome-titel {
    color: #F9FAF8;
    font-size: 48px;
    max-width: 400px;
    font-weight: 800;
    padding: 4px;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.awesome-posible-image {
    box-sizing: border-box;
    width: 520px;
    height: 230px;
background-image: url("img/tools.jpg");
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.awesome-part {
    display: flex;
    padding: 100px 250px 150px 250px;
    justify-content: space-between;
}

.button-sign-up{
    border-radius: 10px;
    height: 40px;
    width: 125px;
    background: #3882F6;
    color: #F9FAF8;
    padding: 4px;
}

.info-title {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    padding: 50px;
    background: grey;
}

.info-parts {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 100px;
    background: grey;
}

.info-possible-picture {
    box-sizing: border-box;
    /*background: red;*/
    border-style: solid;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.info-box {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.box1 {
    background-image: url("img/kids.jpg");
    resize: horizontal;
    background-size: cover;
}

.box2 {
    background-image: url("img/face.jpg");
    resize: horizontal;
    background-size: cover;
}

.box3 {
    background-image: url("img/dyr.jpg");
    resize: vertical;
    background-size: cover;
}

.box4 {
    background-image: url("img/nakke.jpg");
    resize: both;
    background-size: cover;
}

.quote-part {
    background-image: url("img/relax.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 100px ;


}

.quote-quote {
    font-size: 36px;
    max-width: 750px;
    padding-left: 275px;
}

.quote-thor {
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    padding-right: 300px;
}

.signUp-part {
    display: flex;
    padding: 50px 100px;
    margin: 100px 250px;
    background: #3882F6;
    justify-content: space-between;
    /*gap: 120px;*/
    color: white;
    border-radius: 8px;
}

.button-sign-up-alternate{
    background: #3882F6;
    border-color: white;
    border-style: solid;
    color: white;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-size: 18px;
}

.signup-title {
    font-size: 24px;
}

.buttom {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background: black;
    padding: 50px;
    font-size: 18px;
}

